<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        verbose="true"
        syntaxCheck="true">

    <testsuites>
        <testsuite name="tests">
            <directory>test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <php>
        <const name="DB_NAME" value="mysql_test"/>
        <const name="DB_HOST" value="127.0.0.1"/>
        <const name="DB_USER" value="root"/>
        <const name="DB_PASSWORD" value=""/>
    </php>

</phpunit>
